body, html {
    margin: 0;
    padding: 0;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-cardlist-container{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.cardList-container {
    flex: 1;
    display: flex;
    padding: 20px;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
}
.navbar {
    position: fixed;
    z-index: 1000;
    width: 250px;
    height: 100vh;
    /* left: 0;
    top: 0; */
  }
