.change-user-profile-picture{
    width: 750px;
    margin-bottom: 60px;
    border-bottom: 1px solid rgb(197, 196, 196);
}
.profile-picture-title, .cover-title, .change-biography{
    font-weight: 500;
}
.change-user-picture{
    width: 140px;
    height: 140px;
    color: white;
    font-size: 60px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
    border: 2px solid black;
}
.change-cover-user-profile{
    width: 750px;
    height: 320px;
    object-fit: cover;
    background-color: cadetblue;
}
.form-container{
    width: 750px;
    margin: auto;
}
