@import "tailwindcss";
@plugin "daisyui";



@plugin "daisyui/theme" {
  name: "silk";
  default: false;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.0035 67.78);
  --color-base-200: oklch(95% 0.0081 61.42);
  --color-base-300: oklch(90% 0.0081 61.42);
  --color-base-content: oklch(40% 0.0081 61.42);
  --color-primary: oklch(71% 0.202 349.761);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(23.27% 0.0249 284.3);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(27% 0.006 286.033);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(80.39% 0.1148 241.68);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(100% 0 0);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(100% 0 0);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



